@(form: Form[Competidor], id: Long)

@main{
  @helper.form(action = routes.CompetidorController.guardarEditado(id), 'id -> "competidor_registration_form", 'method -> "POST") {
    <fieldset>
      @helper.inputText(
        form("nombre"),
        '_label -> "Nombre",
        '_showConstraints -> false
      )
      @helper.inputText(
        form("email"),
        '_label -> "E-mail",
        '_showConstraints -> false
      )
    </fieldset>
    <button type="submit">Guardar cambios</button>

  }

}