@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main {

    <div class="jumbotron">
        <h1>Bienvenidos competidores</h1>
        <p>Registrense para poder participar de las competencias</p>
        <p>Si ya se encuentran registrados, accedan a su página "/competidor/:id"</p>
        <p><a class="btn btn-primary btn-lg" href=@routes.CompetidorController.crear() role="button">Registrar competidor</a></p>
    </div>

}
